body {
  background: transparent url('images/bg-forest.jpg') no-repeat fixed center center;
  background-size: cover;
  color: #999;
  font-family: 'source-sans-pro', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 10px 0;
}

h2 {
  font-size: 30px;
}

p {
  margin: 0 0 20px;
}

a {
  color: #222;
  transition: color 0.2s ease-in;
}

a:hover {
  color: #444;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

header {
  background-color: #fff;
}

header > div {
  margin: 0 auto;
  max-width: 980px;
  padding: 60px 20px 30px;
  text-align: center;
}

.logo {
  display: block;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 280px;
}

.logo h1 {
  display: block;
  height: auto;
  background: url('images/negoto-digital.svg') no-repeat 0 0;
  background-size: 100% auto;
  direction: ltr;
  text-indent: -9999em;
  margin: 0;
  width: 100%;
}

#contact-btn {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0;
  color: #999;
  cursor: pointer;
  font-family: 'source-sans-pro', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 8px 25px;
  transition: all 0.2s ease-in;
}

#contact-btn:hover {
  background-color: #444;
  color: #fff;
}

.portfolio {
  background-color: #fff;
}

.portfolio > div {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 20px 70px;
  text-align: center;
}

.portfolio ul {
  list-style: none;
  margin: 0 -10px 0;
  padding: 0;
}

.portfolio ul li {
  float: left;
  width: 100%;
}

.portfolio ul li > div {
  padding: 10px;
}

.portfolio img {
  display: block;
  height: auto;
  width: 100%;
}

.portfolio-info,
.portfolio-image {
  box-sizing: border-box;
  float: left;
  padding: 20px;
  width: 100%;
}

.portfolio-info {
  text-align: left;
}

.void {
  height: 400px;
}

footer {
  background-color: #fff;
}

footer > div {
  padding: 70px 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

@media (min-width: 644px) {
  .logo {
    height: 40px;
    width: 310px;
  }

  .portfolio ul li {
    width: 50%;
  }

  .portfolio-info,
  .portfolio-image {
    width: 50%;
  }
}
