html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.centered {
  width: 100%;
  height: 200px;
  position: fixed;
  top: 50%;
  margin-top: -100px;
}

h1 {
  display: block;
  height: 36px;
  background: url('negoto-digital.png') no-repeat 0 0;
  background-size: 100% auto;
  direction: ltr;
  text-indent: -9999em;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 300px;
}

p {
  margin: 0 0 20px;
}

@media (min-width: 644px) {
  h1 {
    height: 74px;
    width: 624px;
  }
}